.center {
  justify-content: center;
}
.left {
  text-align: left;
}

.btnSubmit {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.frmMain {
  margin-top: 5vh;
  border-radius: 0.5rem;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
  min-height: 60vh;
  background-color: #f8f9fa;
  text-align: center;
}
.frmMain .frmHeader {
  font-size: 1.25rem;
  font-family: sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.55);
}

ol li {
  margin-bottom: 0.3rem;
}

.faIcon {
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.55);
}
.faIcon:hover {
  color: #4aaeca;
  transform: scale(1.2);
}

.icons li svg:hover {
  color: #4aaeca;
  transform: scale(1.2);
}

@media all and (min-width: 960px) {
  .frmMain {
    max-width: 800px;
  }
}

@media all and (min-width: 770px) {
  .btnSubmit {
    width: 100%;
    margin-top: 0rem;
  }
}
